# MathHook Docker Build System
# Usage: make build-all | make bench | make test | make shell

services:
  builder:
    image: ${MATHHOOK_BUILDER_IMAGE:-ghcr.io/ahmedmashour/mathhook-core/builder:latest}
    build:
      context: .
      dockerfile: docker/Dockerfile.builder
    volumes:
      - .:/build
      - cargo-registry:/root/.cargo/registry
      - cargo-git:/root/.cargo/git
      - target-cache:/build/target
    working_dir: /build
    environment:
      - CARGO_HOME=/root/.cargo
      - CARGO_INCREMENTAL=1
      - RUSTFLAGS=-C link-arg=-fuse-ld=lld
    stdin_open: true
    tty: true

  build-python:
    extends: builder
    command: /build/docker/scripts/build-python.sh

  build-node:
    extends: builder
    command: /build/docker/scripts/build-node.sh

  build-rust:
    extends: builder
    command: /build/docker/scripts/build-rust.sh

  test:
    extends: builder
    command: /build/docker/scripts/test.sh

  bench:
    extends: builder
    environment:
      - GITHUB_SHA=${GITHUB_SHA:-local}
      - GITHUB_REPOSITORY=${GITHUB_REPOSITORY:-mathhook/mathhook}
    command: /build/docker/scripts/bench.sh

  publish:
    extends: builder
    profiles: [publish]
    environment:
      - CARGO_REGISTRY_TOKEN
      - PYPI_API_TOKEN
      - NPM_TOKEN
    command: /build/docker/scripts/publish.sh

volumes:
  cargo-registry:
    name: mathhook-cargo-registry
  cargo-git:
    name: mathhook-cargo-git
  target-cache:
    name: mathhook-target-cache
